<!-- START Fullscreen block -->
<div class="tm-fullscreen uk-position-relative">
 
  <div class="center jumbotron">
    <div class="uk-cover-background uk-position-cover" style="background-image: url(images/demo/slider/slide_1.jpg);">
    </div>

    <%= image_tag("demo/slider/slide_1.jpg", style: "width: 800; height: 400") %>
    <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle">
        <div class="tm-slide-style-1">
            <h3 class="slide-head tm-heading-font">
                it’s right time to
            </h3>
            <div class="slide-text-primary tm-heading-font">
                <a href="#">Go to Gym</a>
            </div>
            <h4 class="slide-subhead uk-text-right tm-heading-font">
                starts from $19.99<sup>/month</sup>
            </h4>
        </div>
    </div>
  </div>
</div>
 <!-- END Fullscreen block -->
        
        <!-- START Features block -->
        <div class="tm-block  tm-block-top-a tm-section-light tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-top-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <div class="uk-panel">
                            <div class="category-module-features ">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 1 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                                
                                               <%=image_tag("demo/visuals/ico-shoppingbag.png", style: "width: 60; height: 60") %>                      
                                                <h2 class="uk-panel-title uk-margin-top">Curva Store</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="workouts.html" title="View Workouts">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Shop</span>
                                        </a>
                                        <!-- END Feature 1 -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 2 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                            <%=image_tag("demo/visuals/ico-classes.png") %>
                                                <h2 class="uk-panel-title uk-margin-top">Classes</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="classes.html" title="View Classes">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>View Classes</span>
                                        </a>
                                        <!-- END Feature 2 -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 3 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                            <%= image_tag("demo/visuals/ico-schedule.png") %>                       
                                                <h2 class="uk-panel-title uk-margin-top">Personal Training</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="schedule.html" title="View Schedule">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Book Session</span>
                                        </a>
                                        <!-- END Feature 3 -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center">
                                        <!-- START Feature 4 -->
                                        <div class="uk-overlay tm-overlay uk-width-1-1">
                                            <div class="uk-panel uk-panel-box">
                                            <%= image_tag("demo/visuals/ico-trainers.png") %>
                                                   
                                                <h2 class="uk-panel-title uk-margin-top">Ketogenics</h2>
                                                <p class="tm-panel-subtitle">Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada...</p>
                                            </div>
                                            <div class="uk-overlay-area">
                                                <div class="uk-overlay-area-content">
                                                    <p>Morbi leo risus, porta ac consectetur, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="uk-button uk-button-large" href="trainers.html" title="View Trainers">
                                            <i class="uk-icon-akplus">+</i>
                                            <span>Read Ketogenics</span>
                                        </a>
                                        <!-- END Feature 4 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END Features block -->

          <!-- START About block -->
        <div class="tm-block  tm-block-top-b tm-section-dark tm-section-image tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <div class="uk-panel">
                            <div class="uk-grid" style="margin-bottom: 110px;">
                                <div class="uk-width-large-1-2 uk-width-medium-2-3 uk-width-small-1-1">
                                    <h4 class="tm-logo-text">
                                        <span class="color-1">Curva</span><span class="color-2">Fit</span>
                                    </h4>
                                    <p class="uk-margin-remove">We are Curva. Premium healthy and fit lifestyle modeling. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p>
                                    <ol class="tm-list">
                                        <li>Customized ketonomical nutrition design</li>
                                        <li>COMPREHENSIVE TECH STACK ENGAGEMENT</li>
                                        <li>PROVEN PRE-FIT FUNCTIONAL MOVEMENT SYSTEM</li>
                                        <li>FULLY CUSTOMIZABLE LEVERAGE TRAINING</li>
                                    </ol>
                                    <hr style="margin: 35px 0;">
                                    <a class="uk-button uk-button-large" href="#" title="Buy Now">
                                    Buy Now
                                    </a>
                                    <i class="uk-text-large" style="margin: 0 25px;">or</i>
                                    <a class="uk-text-large" href="#">View more demos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END About block -->

        <!-- START Statistic and Promo block -->
        <div class="tm-block  tm-block-top-c tm-section-light">
            <div class="uk-container uk-container-center">
                <section class="tm-top-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1 uk-width-medium-1-2">
                        <div class="uk-panel">
                            <!-- START Statistic block -->
                            <div class="uk-panel uk-text-center ak-statistics-box">
                                <ul class="uk-subnav uk-subnav-line tm-statistics">
                                    <li class="uk-scrollspy-init-inview">
                                        <div class="digit" data-from="0" data-to="231" data-speed="1400">231</div>
                                        <h6 class="text">Locations</h6>
                                    </li>
                                    <li class="uk-scrollspy-init-inview">
                                        <div class="digit" data-from="0" data-to="736" data-speed="1700">736</div>
                                        <h6 class="text">Trainers</h6>
                                    </li>
                                    <li class="uk-scrollspy-init-inview">
                                        <div class="digit" data-from="0" data-to="32" data-speed="2000">32</div>
                                        <h6 class="text">Shops</h6>
                                    </li>
                                </ul>
                            </div>
                            <!-- END Statistic block -->
                        </div>
                    </div>
                    <div class="uk-hidden-small uk-width-medium-1-2">
                        <!-- START Promo block -->
                        <div class="uk-panel uk-hidden-small">
                            <a class="tm-promo-video" href="https://vimeo.com/31012462" data-uk-lightbox="{group:'group2'}">
                            <%= image_tag("demo/visuals/promo-video.jpg", style: "width: 610; height: 360") %>
                                
                            </a>
                        </div>
                        <!-- END Promo block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Statistic and Promo block -->

          <!-- START Trainers block -->
        <div class="tm-block  tm-block-bottom-a tm-section-light tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-a uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <!-- START Trainers intro text block -->
                        <div class="uk-panel">
                            <h3 class="uk-panel-title uk-text-center">Training</h3>
                            <p class="uk-text-large uk-text-center ak-trainers">Curva employs 14 different cutting edge techniques, tools and metrics to  support you in your way to become healthier and happier</p>
                        </div>
                        <!-- END Trainers intro text block -->
                        
                        <!-- START Trainers foto block -->
                        <div class="uk-panel">
                            <div class="category-module-trainers ">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 1 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel">
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-8.jpg');">
                                                <%= image_tag("demo/trainers/trainer-8.jpg", style: "width: 295; height: 500") %>
                                                                 
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Tyler Brown</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Strength Training                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 1 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 2 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-7.jpg');">
                                                <%= image_tag("demo/trainers/trainer-7.jpg", style: "width: 295; height: 500") %>                           
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Edward Lane</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Reformer Bootcamp Master                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 2 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 3 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-6.jpg');">
                                                <%= image_tag("demo/trainers/trainer-6.jpg", style: "width: 295; height: 500") %>
                                                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Caitlin Harrison</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Pilates & Movement Expert                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 3 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left">
                                        <!-- START Trainer 4 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-5.jpg');">
                                                <%= image_tag("demo/trainers/trainer-5.jpg", style: "width: 295; height: 500") %>              
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Ethan Griffin</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Ketogenic Dietician                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 4 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 5 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-4.jpg');">
                                                    <img src="images/demo/trainers/trainer-4.jpg" class="uk-invisible" width="295" height="500" alt="Amelie Noble">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Amelie Noble</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Yoga Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 5 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 6 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-3.jpg');">
                                                    <img src="images/demo/trainers/trainer-3.jpg" class="uk-invisible" width="295" height="500" alt="Naomi Staver">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Naomi Staver</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Yoga Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 6 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 7 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-2.jpg');">
                                                    <img src="images/demo/trainers/trainer-2.jpg" class="uk-invisible" width="295" height="500" alt="Richard Payne">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Richard Payne</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Personal Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 7 block -->
                                    </div>
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-left uk-grid-margin">
                                        <!-- START Trainer 8 block -->
                                        <div class="uk-width-1-1">
                                            <div class="uk-panel" >
                                                <div class="uk-cover-background uk-position-relative" style="background-image: url('images/demo/trainers/trainer-1.jpg');">
                                                    <img src="images/demo/trainers/trainer-1.jpg" class="uk-invisible" width="295" height="500" alt="Edward J. Hopper">                            
                                                    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-bottom" style="overflow: hidden;">
                                                        <div class="ak-overlay uk-width-1-1">
                                                            <h4 class="uk-panel-title uk-margin-remove"><a href="trainers/edward-j-hopper.html">Edward J. Hopper</a></h4>
                                                            <div class="tm-panel-subtitle">
                                                                Boxing Trainer                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Trainer 8 block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Trainers foto block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Trainers block -->

        <!-- START Pricing block -->
        <div class="tm-block tm-block-bottom-b tm-section-dark tm-section-image tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <!-- START Pricing intro text block -->
                        <div class="uk-panel">
                            <h3 class="uk-panel-title uk-text-center">Pricing</h3>
                            <p class="uk-text-large uk-text-center ak-pricing">
                                We offer attractive pricing plans for everyone<br>
                                don’t serarch more excuses, buy your card today
                            </p>
                        </div>
                        <!-- END Pricing intro text block -->
                        
                        <!-- START Pricing table block -->
                        <div class="uk-panel">
                            <div class="uk-grid tm-price" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                <div class="uk-width-medium-1-2 uk-text-center">
                                    <div class="uk-panel uk-float-right uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                                        <div class="price">$24<sup>.99</sup></div>
                                        <h2 class="uk-panel-title uk-margin-top">per month</h2>
                                        <p class="tm-panel-subtitle">Health Checks <br>Personal fitness programm <br>Membership cards</p>
                                        <a class="uk-button uk-button-large" href="#" title="Buy Now">
                                        <i class="uk-icon-akplus">+</i>
                                        <span>Buy Now</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 uk-text-center">
                                    <div class="uk-panel uk-float-left uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                                        <div class="price">$199<sup>.99</sup></div>
                                        <h2 class="uk-panel-title uk-margin-top">per year</h2>
                                        <p class="tm-panel-subtitle">Health Checks <br>Personal fitness programm <br>Membership cards</p>
                                        <a class="uk-button uk-button-large" href="#" title="Buy Now">
                                        <i class="uk-icon-akplus">+</i>
                                        <span>Buy Now</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Pricing table block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Pricing block -->
        
        <!-- START Products block -->
        <div class="tm-block tm-block-bottom-c tm-section-light tm-section-padding-large">
            <div class="uk-container uk-container-center">
                <section class="tm-bottom-c uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1">
                        <!-- START Product intro text block -->
                        <div class="uk-panel">
                            <p class="uk-text-large uk-text-center ak-shop">Grab some supplements for your next workout</p>
                        </div>
                        <!-- END Product intro text block -->
                        
                        <!-- START Products block -->
                        <div class="uk-panel">
                            <div class="mod_j2store_products  tm-store-products">
                                <div class="uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'.uk-panel'}">
                                    <!-- START Product 1 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_27 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-3.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Casein Proteines                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_27" class="j2store_product_price">
                                            €55.70                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 1 block -->
                                    
                                    <!-- START Product 2 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_28 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-4.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Elite Whey Proteins                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_28" class="j2store_product_price">
                                            €122.90                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 2 block -->
                                    
                                    <!-- START Product 3 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_26 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-2.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Muscle MX Vitamins C                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_26" class="j2store_product_price">
                                            €69.90                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 3 block -->
                                    
                                    <!-- START Product 4 block -->
                                    <div class="uk-width-medium-1-2 uk-width-large-1-4 uk-text-center j2product product_25 j2store_product_block">
                                        <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                        <%= image_tag("demo/shop/product-1.jpg") %>
                                        </a>
                                        <h2 class="uk-panel-title uk-margin-top">
                                            <a href="store/sport-technology-whey-protein.html" class="j2store_product_title_link">
                                            Sport technology whey protein                    </a>
                                        </h2>
                                        <div class="tm-price">
                                            <span id="j2store_product_price_25" class="j2store_product_price">
                                            €43.50                                                    </span>
                                        </div>
                                    </div>
                                    <!-- END Product 4 block -->
                                    
                                </div>
                            </div>
                        </div>
                        <!-- END Products block -->
                    </div>
                </section>
            </div>
        </div>
        <!-- END Products block -->
        
        

        <!-- START Social block -->
        <div class="tm-block tm-block-social">
            <div class="uk-container uk-container-center">
                <div class="uk-panel ak-social">
                    <ul class="uk-subnav uk-subnav-line uk-text-center">
                        <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                        <li><a href="http://instagram.com/" target="_blank">Instagram</a></li>
                        <li><a href="https://plus.google.com/" target="_blank">Google+</a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
                        <li><a href="http://www.skype.com/" target="_blank">Skype</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Social block -->