<div class="container">

  <% @products.each do |product| %>

    <div class="productCard card">

      <%= image_tag(product.image_url, class: "card-img-top") %>
      
      <div class="card-body">
        <h2 class="card-title"><%= product.brand %></h2>
        <h2 class="card-title"><%= product.name %></h2>
        <h3 class="card-text"><%= product.price %></h3>
      </div>
      
      <a href=<%= "/cart/#{product.id}"%> class="btn btn-primary btn-lg active" role="button">+ ADD TO CART</a>

    </div>
  <% end %>

</div>