<br><br><br><br>
<div class="center"> 
  <h1>Your Cart</h1>
</div>

<% if @cart.empty? %>
  <p>Your Cart is Empty</p>
<% else %>
  <%= link_to 'Empty Your Cart', shop_clear_path %>
<% end %>

<br><br><br>

<% total = 0 %>

<ul>
  <% @cart.each do |id, quantity| %>
    <% product = Product.find(id) %>
    <li>
      <p><%= link_to product.title, product %></p>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price, unit: '$' ) %></p>
      <p>Qty: <%= quantity %></p>
    </li>
    <% total += quantity * product.price %>
  <% end %>

  <p><b>TOTAL: <%= number_to_currency(total, unit: '$') %></b></p>
  <a href="/charges/new"><%= button_tag "Checkout" %></a>
</ul>