<div class="center container"> 
  <h1>Your Cart</h1>
</div>

<%= link_to "<-- BACK TO SHOP", shop_path %>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<% if @cart.empty? %>
  <p>Your Cart is Empty</p>
<% else %>
  <%= link_to 'Empty Your Cart', cart_clear_path %>
<% end %>

<br><br><br>

<% total = 0 %>

<ul>
  <% @cart.each do |id, quantity| %>
    <% product = Product.find(id) %>
    <li>
      <%= image_tag(product.image_url) %>
      <p><%= link_to product.brand + product.name, product %></p>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price, unit: '$' ) %></p>
      <p>Qty: <%= quantity %></p>
      <%= link_to "REMOVE FROM CART", "/cart/#{product.id}/remove" %>
    </li>
    <% total += quantity * product.price %>
  <% end %>

  <p><b>TOTAL: <%= number_to_currency(total, unit: '$') %></b></p>
  <%= link_to "Checkout", checkout_path %>
</ul>
