<div class="container">

  <div class="center">
    <h1>Products</h1>
  </div>
  <p id="notice"><%= notice %></p>

   <% @products.each do |product| %>

    <div class="productCard card">

    <%= image_tag(product.image_url, class: "card-img-top") %>
    
    <div class="card-body">
      <h2 class="card-title"><%= product.brand %></h2>
      <h2 class="card-title"><%= product.name %></h2>
      <h3 class="card-text"><%= product.price %></h3>
      <h4><%= link_to 'Show', product %></h4>
      <h4><%= link_to 'Edit', edit_product_path(product) %></h4>
      <h4><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
    </div>
    
    <a href=<%= "/cart/#{product.id}"%> class="btn btn-primary btn-lg active" role="button">+ ADD TO CART</a>

  </div>
<% end %>

  <br>

  <%= link_to 'New Product', new_product_path %>

</div>