

    <nav class="tm-navbar uk-navbar">
                <div class="uk-container uk-container-center">
                    <!-- START Logo -->
                    <a class="tm-logo" href="/">
                        <span class="color-1">Curva</span><span class="color-2">Fit</span>
                    </a>
                    <!-- END Logo -->
                    <ul class="uk-navbar-nav uk-hidden-small">
                        <li class="uk-parent uk-active" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <%= link_to "Home", root_path %>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-1">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-parent">
                                                <span class="uk-nav-header">Color Variations</span>
                                                <ul class="uk-nav-sub">
                                                    <li><a href="index.html">Default style</a></li>
                                                    <li><a href="http://h-maxx-fitness.torbara.com/demo-4/">Orange style</a></li>
                                                    <li><a href="http://h-maxx-fitness.torbara.com/demo-5/">Green Style</a></li>
                                                    <li><a href="http://h-maxx-fitness.torbara.com/demo-6/">Red Style</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="layouts.html">Layouts</a></li>
                                            <li><a href="coming-soon-page.html">Coming Soon / Offline Page</a></li>
                                            <li><a href="error.html">Error page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <%= link_to "About", static_pages_about_path %>
                        </li>
                        <li>
                            <%= link_to "Schedule", static_pages_schedule_path %>
                        </li>
                        <li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
                            <%= link_to "Training", static_pages_training_path %>
                            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
                                <div class="uk-grid uk-dropdown-grid">
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Weight Loss
                                            </li>
                                            <li><a href="classes/swimming.html">Swimming</a></li>
                                            <li><a href="classes/swimming.html">Kickboxing</a></li>
                                            <li><a href="classes/swimming.html">Cross Trainer</a></li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <ul class="uk-nav uk-nav-navbar">
                                            <li class="uk-nav-header">
                                                Muscle Gain
                                            </li>
                                            <li><a href="classes/swimming.html">Fast Bodyweight</a></li>
                                            <li><a href="classes/swimming.html">Pilates</a></li>
                                            <li><a href="classes/swimming.html">Boxing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><%= link_to "Ketogenics", static_pages_ketogenics_path %></li>
                        <li><%= link_to "Blog", static_pages_blog_path %></li>
                        <li><%= link_to "Shop", products_path %><li>
                        <% if user_signed_in? %>
                            <li>
                                <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
                            </li>
                            <li>
                                <%= link_to "Cart", cart_path %>
                            </li>
                        <% else %>
                            <li><%= link_to "Log In", new_user_session_path %></li>
                            <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <% end %>
                        
                    </ul>
                    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                </div>
    </nav>
