<!DOCTYPE html>
<html>
  <head>
    <title>CurvaProto2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'bootstrap', 'theme', 'schedule', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="ak-page">
      <%= render 'layouts/header' %>
      
        <%= yield %>
        <%= render 'layouts/footer' %>
      
    </div>
  </body>
</html>
